:root{
    --cb: black; /*Color de borde.*/
    --cf: grey; /*Color de fondo.*/
}

html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-self: center;
    text-align: center;
}

header,
main,
footer{
    gap: 10px;
    padding: 10px;
    border-radius: 20px;
    border: 1px var(--cb) solid;
}

header img{
    aspect-ratio: 1/1;
    border-radius: 100%;
}

button{
    cursor: pointer;
}

a button{
    --cf: red;
    color: blue;
}

img{
    max-width: 100%;
}

p.info,
p.desc{
    text-align: justify;
}

p.type{
    text-transform: uppercase;
}

main{
    margin: 30px 0;
}

div.redes{
    border: 1px var(--cb) solid;
    border-radius: 15px;
    padding: 10px 0;
}

h3,
div.redes p{
    margin: 0;
}

div.redes nav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: 10px;
}

nav.seleccion,
footer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

h2,
button,
footer p{
    border: var(--cb) solid 1px;
    background-color: var(--cf);
    padding: 5px;
    border-radius: 10px;
}

section.listado{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

section.listado div{
    max-width: 200px;
    padding: 10px;
    border-radius: 15px;
    border: var(--cb) 1px solid;
}